.zt1
{
      color: palevioletred;
      text-align:center;
      font-size:3em;
      font-family: "幼圆";
}
.zt2
{
    color:OldLace;
    text-align: left;
    font-size: 1.3em;
    font-family: "幼圆";
}